
.grid-layout{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 195px);
  grid-gap: 10px;
}
   


.item-1{
    background: #007F5F;
    grid-column: 1/3;
    
}

.item-2{
    background-color: pink;
    grid-column: 3/5;
    grid-row: span 3
}

.item-3{
    background: #DDDF00;
    grid-column: span 2;

    
}

.item-4{
    background: #2B9348;
    grid-column: span 2;
   
}

.item-5{
    background: #80B918;
    grid-column: span 2;
 
}

.item-6{
    background: pink;
    grid-column: span 2;

}

.item-7{
    background: #80B918;
    grid-column: span 2;
 
}

.item-8{
    background: rgb(220, 220, 41);
    grid-column: span 2;
    grid-row: span 2;
}

.item-9{
    background: pink;

}

.item-10{
    background: chocolate;
    grid-column: span 2;
    grid-row: span 2;

}

.item-11{
    background: green;
    grid-row: span 2;
}

.item-12{
    background: #007F5F;
    
   
    
}


