.grid-layout {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-gap: 20px;
    padding: 15px;
}

.item-1 {
    background: #007F5F;
    grid-column: 1 / span 4;
    grid-row: 1 / span 6;
}

.item-2 {
    background-color: pink;
    grid-column: 5 / span 4;
    grid-row: 1 / span 12;
}

.item-3 {
    background: #DDDF00;
    grid-column: 9 / span 4;
    grid-row: 1 / span 4;
}

.item-4 {
    background: #2B9348;
    grid-column: 1 / span 4;
    grid-row: 7 / span 6;
}

.item-5 {
    background: #80B918;
    grid-column: 9 / span 4;
    grid-row: 5 / span 4;
}

.item-6 {
    background: pink;
    grid-column: 9 /span 4;
    grid-row: 9 / span 4;
}

.item-7 {
    background: #80B918;
    grid-column: 1 / span 4;
    grid-row: 13 / span 6;
}

.item-8 {
    background: rgb(220, 220, 41);
    grid-column: 5 / span 2;
    grid-row: 13 / span 3;
}

.item-9 {
    background: pink;
    grid-column: 5 / span 2;
    grid-row: 16 / span 3;
}

.item-10 {
    background: chocolate;
    grid-column: 7 / span 4;
    grid-row: 13 / span 6;
}

.item-11 {
    background: green;
    grid-column: 11 / span 2;
    grid-row: 13 / span 6;
}